.container {
    position: absolute;
    top: 15%;
    width: 90%;
    left: 10%;
    margin-right: 10%;
    background-color: rgb(187, 93, 93);
}

#user-list {
    border: 5px black;
    flex-direction: column;
    background-color: blue;
}

#profile-display {
    border: 5px black;
    flex-direction: column;
    background-color: pink;
}