body {
    background-color: rgb(16, 5, 110) !important;
}

.container {
    position: absolute;
    top: 15%;
    width: 90%;
    left: 10%;
    background-color: white;
}

.button {
    width: 75%;
    padding: 5px;
    border-radius: 12px;
    margin: 5px;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

#profile-side {
    padding:10px;
    border: 5px black;
    flex-direction: column;
    background-color: white;
    display: none;
}

#user-list {
    border: 5px black;
    flex-direction: column;
    background-color: white;
    justify-content: top;
    padding: 10px;
}

#profile-display {
    padding:10px;
    border: 5px black;
    flex-direction: column;
    background-color: white;
    padding: 10px;
}

#person-info {
    padding: 9px;
}

#posts {
    position: absolute;
    top: 39%;
    margin: 5px black;
}

#albums {
    position: absolute;
    top: 39%;
    left: 57%;
    margin: 5px black !important;
}
 
#posts-btn {
    width: 15px;
    left: 97%;
}

#albums-btn {
    width: 15px;
    left: 97%;
}

#photos-displayed {
    display: grid;
    -webkit-column-count: 5;
  -webkit-column-gap:   0px;
  -moz-column-count:    5;
  -moz-column-gap:      0px;
  column-count:         5;
  column-gap:           0px; 
}